* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #4b679f, #7c9bc7, #b0c2d8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centraliza verticalmente */
  min-height: 100vh;
  padding: 20px; /* evita que encoste na borda em telas pequenas */
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(255, 253, 253);
  padding: 20px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 30px;
  max-width: 100%;
}

/* Card */
.card {
  background: white;
  max-width: 400px;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h1 {
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.social-container p {
  color: #282727;
  margin-bottom: 15px;
}

.separator {
  height: 1px;
  background-color: #9d9b9b;
  margin: 12px 0;
}

form {
  text-align: left;
}

form p {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #fdfdfd;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.574);
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  nav {
    padding: 15px 20px;
  }

  .card {
    max-width: 90%;
    padding: 20px;
  }

  .card h1 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .logo-container img {
    height: 25px;
  }

  .card {
    padding: 15px;
  }

  input[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }
}
